.sidenav-container {
  height: 100%;
}

// .example-container {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.appbar {

  background-color: var(--tui-primary-active);
  color: white;
}


.is-active {
  background-color: rgba(rgb(110, 101, 101),.5);
}

.sidenav {
  width: 200px;
}

