.sidenav-container {
  height: 100%;
}

.appbar {
  background-color: var(--tui-primary-active);
  color: white;
}

.is-active {
  background-color: rgba(rgb(83, 74, 74),.5);

}

.sidenav {
  width: 200px;
}

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }
