<tui-loader size="xl" [showLoader]="load" [overlay]="true">
<div class=" body">
  <mat-tab-group>
    <!-- First tab -->
    <mat-tab label="Apply">
      <div class="p-2">
        <div class="d-flex gap-2">
          Granted :
          <div class="cl"></div>
          {{cl}} casual leaves

          <div class="sl"></div>
          {{sl}} sick leaves
        </div>
      </div>
      <h1 class="text-center my-1">Apply Leave</h1>
      <app-leave-form [ID]="id" [edit]="false" (update)="loadLeaves()"></app-leave-form>
    </mat-tab>
    <!-- Second Tab -->
    <mat-tab label="Pending"> <app-leave-list (update)="loadLeaves()" [leaves]="leaves" [ID]="id"  [type]="'pending'"></app-leave-list> </mat-tab>
    <!-- Third Tab -->
    <mat-tab label="Completed">
      <app-leave-list (update)="loadLeaves()" [leaves]="leaves" [ID]="id" [type]="'completed'"></app-leave-list>
    </mat-tab>
  </mat-tab-group>
</div>
</tui-loader>