:host {
    height: 100%;
  .hero-text {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  img {
    width: 40%;
  }
}

@media (max-width: 767px) {
    img {
        width: 70%
    }
}
