<div class="body">
<section class="container hero-section">
    <img src="https://educloud.app/lms/src/erp/ec-lms.png" alt="abstract image of a team working">
    <div class="hero-text my-3 text-center">
        Seamless Leave Requests, Enhanced Productivity – Try Our System Today
    </div>
    <div class="d-flex my-4 align-items-center justify-content-center gap-2">
        <button 
        tuiButton
        appearance="secondary"
        type="button"
        iconRight="tuiIconChevronRightLarge"
        class="my-3"
        (click)="openFullScreen()"
        >Get Started</button>
    </div>
    <div class="footer">
        Made with <tui-svg src="tuiIconHeart"></tui-svg> by <a style="color: white;" href="https://waglesathwik.onrender.com">waglesathwik</a>
      </div>
</section>
</div>