<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [autoFocus]="false"
    [attr.role]="(isHandset$ | async) ? 'navigation' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar
      ><tui-svg src="tuiIconUserLarge" class="me-2"></tui-svg>
      {{ name | uppercase }}</mat-toolbar
    >
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="user"
        routerLinkActive="is-active"
        *ngIf="!isAdmin"
        ><tui-svg src="tuiIconUsers"></tui-svg> Dashboard</a
      >
      <a
        mat-list-item
        routerLink="admin"
        routerLinkActive="is-active"
        *ngIf="isAdmin"
        ><tui-svg src="tuiIconUsers"></tui-svg> Employees</a
      >
      <a
        mat-list-item
        routerLink="/holidays"
        routerLinkActive="is-active"
        *ngIf="isAdmin"
        ><tui-svg src="tuiIconCalendar"></tui-svg> Holidays</a
      >
      <a
        mat-list-item
        routerLink="leaves"
        routerLinkActive="is-active"
        *ngIf="isAdmin"
        ><tui-svg src="tuiIconCreditCard"></tui-svg> Leaves</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="appbar fixed-top">
      <tui-svg
        src="tuiIconMenuLarge"
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      ></tui-svg>
      <h1 class="mx-auto">Leave Management System</h1>
      <tui-svg
        src="tuiIconLogOutLarge"
        type="button"
        (click)="logout()"
      ></tui-svg>
    </mat-toolbar>
    <div class="content">
    <router-outlet ></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
