.sidenav-container {
  height: 100%;
}

.appbar {
  background-color: var(--tui-primary-active);
  color: white;
}

.is-active {
  background-color: rgba(rgb(110, 101, 101), 0.5);
}

.sidenav {
  width: 200px;
}

.content {
  margin-top:5rem;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
