<div class="body container">
  <div class="py-3 d-flex justify-content-between align-items-center">
    <input
      matInput
      (keyup)="filterHolidays(filter.value)"
      placeholder="Filter"
      name="filterText"
      #filter
    />

    <div>
      <tui-svg
        src="tuiIconRefreshCw"
        class="me-2"
        [ngClass]="loader ? 'rotate' : ''"
        size="s"
        type="button"
        (click)="loadHolidays()"
      ></tui-svg>
      <button
        tuiButton
        appearance="secondary"
        (click)="sortHolidays()"
        size="s"
        type="button"
      >
        Sort
        <tui-svg src="tuiIconSortOff"></tui-svg>
      </button>
    </div>
  </div>

  <tui-loader size="xl" class="mt-3" [showLoader]="loader" [overlay]="true">
    <div class="row">
      <div
        class="col-12 col-md-4 col-lg-4 my-2"
        *ngFor="let item of holidays; let i = index"
      >
        <a
          size="l"
          class="island-card"
          [ngClass]="upcomingDate(item.date) ? 'bg-green ' : 'bg-grey'"
          tuiIsland
          [hoverable]="true"
        >
          <div class="tui-island__content">
            <figure class="tui-island__figure">
              <div
                class="some-figure d-flex justify-content-center align-items-center"
                (click)="showDialog(editform)"
              >
                <tui-svg type="button" src="tuiIconEditLarge"></tui-svg>

                <ng-template #editform let-observer>
                  <app-holidayform
                    [index]="i"
                    [Name]="item.name"
                    [type]="item.type"
                    [date]="item.date"
                  ></app-holidayform>
                </ng-template>
              </div>
            </figure>
            <div>
              <h3 class="tui-island__title">{{ item.name }}</h3>
              <p class="tui-island__category">
                {{ item.type }}
              </p>
              <p class="tui-island__paragraph">
                {{ item.date | date : "dd-MMM"
                }}{{ upcomingDate(item.date) ? "(Upcoming)" : "" }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </tui-loader>
</div>
