// * {
//     border: red 1px solid;
// }
:host {
  display: flex;
  flex-flow: column;
  .appbar {
    background-color:var(--tui-primary);
    color: #fff;
    .logo {
      font-size: 1.4rem;
      font-weight: 600;
      padding: 1.3rem 0;
    }
  }
  .active-link {
    outline: 1px solid rgba(white, 1);
    color: white;
  }
}
