<div class="container-island container">
  <tui-breadcrumbs size="l" class="tui-space_top-2 my-4">
    <ng-container>
      <a *tuiItem tuiLink routerLink="/admin" > Manage </a>
      <a *tuiItem tuiLink routerLink="/holidays" routerLinkActive="link-active">
        Holidays
      </a>
    </ng-container>
  </tui-breadcrumbs>
  <div class="mb-3 d-flex justify-content-between">
    <form #filter="ngForm" class="d-flex align-items-center gap-2">
      <mat-form-field class="flex-grow-1"
      appearance="outline"
      >
        <mat-label>Filter</mat-label>
        <input
          matInput
          (input)="filterHolidays(filter)"
          placeholder="Ex. Republic Day"
          ngModel
          name="filter"
        />
      </mat-form-field>
    </form>
    <div>
      <button
        tuiButton
        appearance="flat"
        class="me-2"
        size="xl"
        (click)="loadHolidays()"
      >
        Refresh <tui-svg src="tuiIconRefreshCw"></tui-svg>
      </button>
    <button tuiButton appearance="secondary" (click)="sortHolidays()" size="xl"  type="button">
      Sort
      <tui-svg src="tuiIconSortOff"></tui-svg>
    </button>
      </div>
  </div>
  <tui-loader size="xl" class="mt-3" [showLoader]="loader" [overlay]="true">
    <div class="tui-row container-fluid">
      <div class="col-12 col-md-4 col-lg-4 my-2" *ngFor="let item of holidays;let i=index">
        <a
          size="l"
          class="island-card"
          [ngClass]="upcomingDate(item.date) ? 'bg-green ' : 'bg-grey '"
          tuiIsland
          [hoverable]="true"
        >
          <div class="tui-island__content">
            <figure class="tui-island__figure">
              <div
                class="some-figure d-flex justify-content-center align-items-center"
                (click)="showDialog(editform)"
              >
                <tui-svg type="button" src="tuiIconEditLarge" ></tui-svg>

                <ng-template #editform let-observer>
                  <app-holidayform [index]="i" [Name]="item.name" [type]="item.type" [date]="item.date"></app-holidayform>
                </ng-template>

              </div>
            </figure>
            <div>
              <h3 class="tui-island__title">{{ item.name }}</h3>
              <p class="tui-island__category">
                {{ item.type }}
              </p>
              <p class="tui-island__paragraph">
                {{ parseCustomDate(item.date) | date : "MMM-dd"
                }}{{ upcomingDate(item.date) ? "(Upcoming)" : "" }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </tui-loader>
</div>
